{% extends  "events.html" %}
{% block overlay %}

<div id=shade></div>

<div id=front_window>
    <h3>Event</h3>
    <form action="{{ url_for('event_app.dodaj_dogodek') }}" method="post">
        Name: <input type="text" name="name" placeholder="ime dogodka" require/><br/>
        Date: <input type="date" name="date" require><br/>
        Organizer: <input type="text" name="organizer" placeholder="ime organizatorja" require/><br/>
        Description:<br/>
        <textarea rows="10" cols="60" name="description" require></textarea><br/>
        
        <input type="submit" name="continue" value="cancel"/>
        <input type="submit" name="continue" value="Save changes">
</div>
{% endblock %}