{% extends "status_bar.html" %}
{% block body %}

<div id=event--platno>
    {% for item in podatki_dogodki %}
        <div class=dogodek_koledar>
            {{ item.naziv }}<br>{{ item.datum }}
        </div>
    {% else %}
        <div class=dogodek_koledar>V koledarju nimate še nobenega vnosa</div>
    {% endfor %}
</div>

{% if status != 0 %}
<div id="nov_dogodek" onclick="location.href ='{{ url_for("event_app.vnesi_podatke_nov") }}';">
    
</div>
{% endif %}

{% block overlay %}
{% endblock %}

{% endblock %}
