<!DOCTYPE html>
<html>

<form action="{{ url_for('geslo_app.spremeni') }}" method="POST" id="geslo_obrazec">
    <b><font size="5">PRIJAVA</font></b><br>
    
    <div id="napaka" style="display:none;">{{ napaka }}</div>
    Staro geslo:<br>
    <input type="text" name="geslo1" placeholder="Staro geslo"><br>
    Ponovno vpišite staro geslo:<br>
    <input type="text" name="geslo2" placeholder="Staro geslo"><br>
    Novo geslo:<br>
    <input type="text" name="novoGeslo" placeholder="Novo geslo"><br>
    
    <input type="submit" name="knof" value="Potrdi"/><br><br>
    
    <input type="submit" name="knof" value="Nazaj"/>
    
    <script>
        //prikaz obvestila, ce je bla napaka
        var napaka = "{{ napaka }}"
        if (napaka.localeCompare("") != 0) {
            document.getElementById('napaka').style.display = "block";
        }
    </script>
<br>

</html>