<!DOCTYPE html>
<html>

<form action="{{ url_for('users_app.registracija') }}" method="POST" id="register_obrazec">
    <b><font size="5">REGISTRACIJA</font></b><br>
    
    <div id="napaka" style="display:none;">{{ napaka }}</div>
    Elektronski naslov:<br>
    <input type="text" id="mail" name="mail" placeholder="Elektronski naslov" required><br>
    Geslo (vsaj 8 znakov):<br>
    <input type="text" id="geslo" name="geslo" placeholder="Geslo" required><br>
    
    <button type="submit">Potrdi</button>
    
    <script>
        //prikaz obvestila, ce je bla napaka
        var napaka = "{{ napaka }}"
        if (napaka.localeCompare("") != 0) {
            document.getElementById('napaka').style.display = "block";
        }
    </script>
<br>
Ste že registrirani?
<button onclick="location.href = 'url_for('users_app.vpis')';">Prijavi se</button>
</html>