{% extends  "status_bar.html" %}
{% block body %}

<div id=shade></div>

<div id= okno>

<form action="{{ url_for('users_app.registracija') }}" method="POST">
    <b><font size="5">REGISTRACIJA</font></b><br><br>
    
    <div id="napaka" style="display:none;">{{ napaka }}</div>
    Elektronski naslov:
    <input type="text" name="mail" class=odgovor placeholder="Elektronski naslov" ><br>
    Geslo (vsaj 8 znakov):
    <input type="password" name="geslo" class=odgovor placeholder="Geslo"><br>
    
    <input type="submit" name="knof" class=mainButtons value="Potrdi"/><br><br>
    
    <div>Ste že registrirani?</div>
    <input type="submit" name="knof" class=sideButtons value="Prijavi se"/>
    <br>
</form>
    <script>
        //prikaz obvestila, ce je bla napaka
        var napaka = "{{ napaka }}"
        if (napaka.localeCompare("") != 0) {
            document.getElementById('napaka').style.display = "block";
        }
    </script>

</div>
{% endblock %}