<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/styl.css') }}">
<title>StraightAS</title>
</head>
<body>
    
<div id=ozadje>

<div id=toolbar>
    <div class="dropdown" style="float:right;">
    <div class=dropbtn>
    <img src="{{ url_for('static', filename='resource/profile.png') }}" class="profile_icon"></img>
    </div>
    <div class="dropdown-content">
        <a href="{{ url_for('geslo_app.sprem') }}">Spremeni geslo</a>
        <a href="{{ url_for('users_app.izpis') }}">Odjava</a>
        </div>
    </div>
</div>



{% block body %}
{% endblock %}

</div>

</body>

</html> 